<?xml version="1.0"?>
<robot name="realsense2_camera" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="use_nominal_extrinsics" default="false"/>
  <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />
  
  <link name="t265_link" />
  <xacro:sensor_d435 parent="t265_link" name="d435i" use_nominal_extrinsics="$(arg use_nominal_extrinsics)">
    <origin xyz="0 0.021 0.027" rpy="0 0 0"/>
  </xacro:sensor_d435>
</robot>
